.strip {
  background-image: url("https://i.ibb.co/Cv8WbJm/pexels-erica-gaia-12905646.jpg");
  box-shadow: 0px 3px 10px 1px #000;
  background-position: center;
  background-size: cover;
  min-height: 510px;
  /* position: relative; */
  width: 100%;
}

/* .strip::before {
  content: "";
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2; 
  background-color: black; 
} */

.textContainer {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: white;
  text-align: justify;
  line-height: 1.8;
}

.container{
  max-width: 1000px;
}

