.container {
  background-image: url("https://i.ibb.co/rwmqSwx/road-no-3-top-mountains-with-green-jungle-nan-province-thailand.jpg");
  box-shadow: 0px 3px 10px 1px #000;
  background-position: center;
  background-size: cover;
  min-height: 490px;
  position: relative;
}

.container::before {
  content: "";
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7; /* Adjust the opacity as desired */
  background-color: black; /* Adjust the overlay color as needed */
}

.textContainer {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: white;
  text-align: justify;
  line-height: 1.8;
}

