.strip {
  background-image: url("https://i.guim.co.uk/img/media/7bb41f0aa17c29a22b476534f8f9f546990f6f54/0_107_5670_3403/master/5670.jpg?width=620&quality=45&dpr=2&s=none");
  box-shadow: 0px 3px 10px 1px #000;
  background-position: center;
  background-size: cover;
  min-height: 400px;
  /* position: relative; */
  width: 100%;
}

/* .strip::before {
  content: "";
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2; 
  background-color: black; 
} */

.textContainer {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: white;
  text-align: justify;
  line-height: 1.8;
}

.container{
  max-width: 1000px;
}

