* {
  /* background-color: #1b1f23;;
  color: white; */
  /* font-family: 'Permanent Marker', cursive; */
  /* font-family: 'Amatic SC', cursive; */
  font-family: 'Neucha', cursive;
  /* font-family: 'Patrick Hand SC', cursive; */
  /* font-size: 24px; */
  font-family: 'Marmelad', sans-serif;
}



.greenColor {
  color: #54E8A9;
}

.greenBg {
  background: #54E8A9;
}

.button {
  background: #54E8A9;
  color: white;
}

.button:hover {
  background: white;
  color: #54E8A9;
  border: solid 2px  #54E8A9;
}

/* nav */
.MuiContainer-root.MuiContainer-maxWidthXl.css-19r6kue-MuiContainer-root ,.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  /* background: #54E8A9; */
  background: transparent;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0px;;
}

.css-av538e-MuiButtonBase-root-MuiIconButton-root,.css-1pz7awu-MuiButtonBase-root-MuiIconButton-root {
  width: 50px;
}

/* Scroll foter */
.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #54E8A9;
  z-index: 9999;
  transition: width 0.2s ease;
}

/* Scroll */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #54E8A9;
  border-radius: 10px;
  border: solid 2px white;
}

::-webkit-scrollbar-thumb:hover {
  border: solid 2px #54E8A9;
  background: white;
}


/* signUp */
.radio-label {
  display: flex;
  align-items: center;
}

.radio-text {
  margin-left: 0.5rem;
}

.checkbox-container {
  display: inline-flex;
  align-items: center;
  margin-right: 0.5rem;
  /* Adjust the margin as needed */
}

.checkbox-label {
  margin-right: 0.5rem;
  /* Adjust the margin as needed */
}

.text-container {
  display: inline-block;
}


/* login */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Open Sans", Helvetica, Arial, sans-serif; */
  font-family: 'Neucha', cursive;
  background: #ededed;
}

input,
button {
  border: none;
  outline: none;
  background: none;
  /* font-family: "Open Sans", Helvetica, Arial, sans-serif; */
  font-family: "Neucha", Helvetica, Arial, sans-serif;
}

.tip {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
}

.cont {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 520px;
  margin: 0 auto 100px;
  background: #fff;
}

.form {
  position: relative;
  width: 640px;
  height: 100%;
  transition: transform 1.2s ease-in-out;
  padding: 0px 8px ;
  margin: 0;
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  background: #fff;
  transition: transform 1.2s ease-in-out;
}

.cont.s--signup .sub-cont {
  transform: translate3d(-640px, 0, 0);
}

button {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
}

.img:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100%;
  background-image: url("https://i.ibb.co/pzhfXzn/back-view-traveller-looking-ride.jpg");
  background-size: cover;
  transition: transform 1.2s ease-in-out;
}

.img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.cont.s--signup .img:before {
  transform: translate3d(640px, 0, 0);
}

.img__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  transition: transform 1.2s ease-in-out;
}

.img__text h2 {
  margin-bottom: 10px;
  font-weight: normal;
}

.img__text p {
  font-size: 14px;
  line-height: 1.5;
}

.cont.s--signup .img__text.m--up {
  transform: translateX(520px);
}

.img__text.m--in {
  transform: translateX(-520px);
}

.cont.s--signup .img__text.m--in {
  transform: translateX(0);
}

.img__btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}

.img__btn:after {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 30px;
}

.img__btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 1.2s;
}

.img__btn span.m--in {
  transform: translateY(-72px);
}

.cont.s--signup .img__btn span.m--in {
  transform: translateY(0);
}

.cont.s--signup .img__btn span.m--up {
  transform: translateY(72px);
}

h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}

label {
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;
}

label span {
  font-size: 12px;
  color: #cfcfcf;
  text-transform: uppercase;
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}

.forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf;
}

.submit {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #54E8A9;
  text-transform: uppercase;
}

.fb-btn {
  border: 2px solid #d3dae9;
  color: #8fa1c7;
}

.fb-btn span {
  font-weight: bold;
  color: #455a81;
}

.sign-in {
  transition-timing-function: ease-out;
}

.cont.s--signup .sign-in {
  transition-timing-function: ease-in-out;
  transition-duration: 1.2s;
  transform: translate3d(640px, 0, 0);
}

.sign-up {
  transform: translate3d(-900px, 0, 0);
}

.cont.s--signup .sign-up {
  transform: translate3d(0, 0, 0);
}

.icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;
}

.icon-link img {
  width: 100%;
  vertical-align: top;
}

.icon-link--twitter {
  left: auto;
  right: 5px;
}


/* footer */

body {
  background-color: black;
}

.container {
  width: 1200px !important;
  padding: 0 !important;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 992px) and (max-width: 1439px) {
    max-width: 1279px !important;
    padding: 0 !important;
    margin: 0 80px !important;
    width: auto !important;
  }

  @media screen and (max-width: 991px) {
    max-width: 959px !important;
    margin: 0 16px !important;
    padding: 0 !important;
    width: auto !important;
  }
}

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding: 30px;
  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
  }
}

.container-title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
}

.card {
  max-width: 550px;
  border: 0;
  width: 100%;
  margin-inline: auto;
}

.container-card {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 20px;
  text-align: center;
  img {
    margin-bottom: 32px;
  }
}

.bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
  position: relative;
}

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.bg-green-box::after {
  background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.bg-white-box::after {
  background: linear-gradient(71deg, #121013, #b0afb0, #121013);
}

.bg-yellow-box::after {
  background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bg-blue-box::after {
  background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.card-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
  max-width: 470px;
  text-align: center;
}

.card{
  --bs-card-bg: transparent
}

/* table */
.table {
  border-spacing: 0 15px;
}

/* i {
  font-size: 1rem !important;
} */

.tr {
  /* padding: 12px;
  margin: 10px; */
  /* border-top: #0d1212 4px solid; */
  border-top:  #1B1F23 6px solid ;
  border-radius:  .625rem 0 0 .625rem;
}
.th{
  color: #8F97A3;

}

thead .tr:nth-child(0){
  color: #8F97A3;

}

.tr td:nth-child(n+7),
.tr th:nth-child(n+7) {
  border-radius: 0 .625rem .625rem 0;
}

.tr td:nth-child(1),
.tr th:nth-child(1) {
  border-radius: .625rem 0 0 .625rem;
}

.table>:not(caption)>*>* {
  background-color: #1F2937;
  color: #8F97A3;
}
